*{
    margin:0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

body{
    background-image: url("./images/brain.jpg");
}

  header{
    background-color:#001B58;
  }

  main{
    background-color: #001B58;
    width: 80%;
    margin-left: 10%;
    margin-top:15px;
    padding-bottom: 15px;
  }

  #sectionInicio{
  display: flex;
  justify-content: space-around;
  align-items:center;
  padding-bottom: 20px;
  }

  #testimonial{
    display: flex;
    justify-content: space-around;
    align-items:center;
  }

  #divTabla{
    background-color: grey;
    color:white;
    width: 30%;
    padding: 15px;
  }

  #divTabla ol li a{
    text-decoration: none;
    color:white;
  }

  #divTabla ol li a:hover{
    color:#001B58;
    font-size: 20px;
  }

  #frase{
    background-color: white;
    text-align: center;
    width: 30%;
    height: 150px;
    padding: 15px;
  }

  .section{
    background-color: white;
    text-align: justify;
    margin: 30px;
    padding: 20px;
  }

  .tituloSec{
    color:#001B58;
  }

  .mapa{
  display: flex;
  justify-content:space-around;
  align-items: center;
  }

  .mapa img{
    width: 50%;
  }

  .asignaturas{
  display: flex;
  justify-content: space-around;
  align-items:center;
  padding-bottom: 20px;
  }

  .asignaturas table{
    border-collapse: separate;
    border:#001B58 1px solid;
    width: 30%;
  }

  .asignaturas th{
    background-color: #C2E1FE;
    text-align:center;
    padding: 5px;
  }

  .asignaturas td{
    text-align: center;
    margin:5px;
    padding:5px;
  }

  #contacto{
    margin-left: 200px;
    margin-right: 200px;
  }
/*BoxMessage*/
.callout {
  position: fixed;
  bottom: 35px;
  right: 20px;
  margin-left: 20px;
  max-width: 300px;
}

.callout-header {
  padding: 25px 15px;
  background: #555;
  font-size: 30px;
  color: white;
}

.callout-container {
  padding: 15px;
  background-color: #ccc;
  color: black
}

.closebtn {
  position: absolute;
  top: 5px;
  right: 15px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.closebtn:hover {
  color: lightgrey;
}

footer{
  background-color:#001B58;
  margin-top: 20px;
  margin-bottom: 0;
  align-items:center;
  display:flex;
  flex-direction: column;
  padding: 20px;
}

.foot{
  color: white;
}
