*{
    margin:0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

body{
    background-image: url("./images/brain.jpg");
}

  header{
    background-color:#001B58;
  }
/**Efecto hover en la barra de navegacion**/
#pestana li{
    border-radius:5px;
}

#pestana li:hover{
  background-color: #D59F0F ;
}

#pestana li a:hover{
  color:white;
}

  main{
    background-color: #001B58;
    width: 80%;
    margin: 15px;
    padding-bottom: 15px;
  }

  #sectionInicio{
  display: flex;
  justify-content: space-around;
  align-items:center;
  padding-bottom: 20px;
  }

  #testimonial{
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items:center;
  }

  #divTabla{
    text-align: justify;
    background-color: gray;
    color:white;
    height: auto;
    width: auto;
    padding: 15px;
  }

  #divTabla ol li a{
    text-decoration: none;
    color:white;
  }

  #divTabla ol li a:hover{
    color:#001B58;
  }

  #frase{
    background-color: white;
    text-align: center;
    width: 30%;
    height: auto;
    padding: 15px;
  }

  .section{
    background-color: white;
    text-align:justify;
    margin: 30px;
    padding: 20px;
    font-size: medium;
  }

  .tituloSec{
    color:#001B58;
  }

  .mapa{
  display: flex;
  justify-content:space-around;
  align-items: center;
  }

  .mapa img{
    width: 50%;
  }

  .asignaturas{
  display: flex;
  justify-content: space-around;
  align-items:center;
  padding-bottom: 20px;
  }

  .asignaturas table{
    border-collapse: separate;
    border:#001B58 1px solid;
    width: 30%;
  }

  .asignaturas th{
    background-color: #C2E1FE;
    text-align:center;
    padding: 5px;
  }

  .asignaturas td{
    text-align: center;
    padding:5px;
  }

  #contacto{
    margin-left: 200px;
    margin-right: 200px;
  }

footer{
  background-color:#001B58;
  margin-top: 20px;
  margin-bottom: 0;
  align-items:center;
  display:flex;
  flex-direction: column;
  padding: 20px;
}

footer h3,h4{
  color: white;
}